<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link href="./profile.css" rel="stylesheet" />
  </head>

  <body>
    <div class="background-image">
    </div>  

    <div class="profile-grid">
      
      <div class="basic-info">
        <h1 class="bold text-6xl text-left text-white uppercase">John Smith</h1>
        <h4 class="bold mb-4 mt-4 text-4xl text-left text-white uppercase">Developer</h4>
        <div class="education-section">
          <p class="mt-4 text-2xl tracking-widest">WPI</p>
          <p class="text-2xl tracking-widest">B.S Computer Science</p>
        </div>
      </div>

      <img class="profile-image" src="./assets/headshot.png"/>
      
      <div class="fun-fact">
        <h4 class="bold pt-4 text-5xl text-left text-white fun-fact-title">Fun Fact</h1>
        <p class="mt-2 text-left text-xl text-white font-semibold">Likes long walks on the beach</h4>
      </div>

      <div class="work-experience">
        <ul class="work-experience-list">
          <li class="mb-5 mt-5 text-left text-xl text-white font-semibold">item 1</li>
          <li class="mb-5 mt-5 text-left text-xl text-white font-semibold">item 2</li>
        </ul>
      </div>

      <h4 class="bold text-4xl text-left tech-experience-title">Tech</h1>
      <div class="tech-experience"> 
        <ul class="tech-experience-list">
          <li class="text-left text-xl tech-experience-text font-semibold">Skill 4</li>
          <li class="text-left text-xl tech-experience-text font-semibold">Skill 5</li>
          <li class="text-left text-xl tech-experience-text skill-text font-semibold">Skill 6</li>
        </ul>
      </div>

    </div>
  </body>
</html>

